// Global default params, used in configs
params {
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"
  help = false
  name = false
}


timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

process {
  // Capture exit codes from upstream processes when piping
  shell = ['/bin/bash', '-euo', 'pipefail']
  executor = 'local'
}


manifest {
  name = 'tradis'
  author = 'Sarah Bastkowski'
  description = 'Tradis plot generation'
  mainScript = 'multi_tradis.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.2.2'
}
